@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

.digital-clock{
    text-align: center;
    align-content: center;
    vertical-align: middle;
    
    width: 95%;
    background-color: #1c1e1f;
    border-radius: 15px;
    padding: 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 0%;
    word-spacing: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}
body{
    font-family: 'Consolas', sans-serif;
    font-size: 20.5vw;
    background:#000000;
    letter-spacing: 0%;
    word-spacing: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}
.seconds{
    font-size: 6vw;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}
.hours{
    background: linear-gradient(#dadada, #8a8a8a);
    border-radius: 15px;
    color: #1c1e1f;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}
.minutes{
    background: linear-gradient(#dadada, #8a8a8a);
    border-radius: 15px;
    color: #1c1e1f;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}
.seconds{
    background: linear-gradient(#dadada, #8a8a8a);
    border-radius: 15px;
    color: #1c1e1f;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}
.dots{
    color: #8a8a8a;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0%;
    word-spacing: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}