@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

.digital-clock{
    text-align: center;
    align-content: center;
    vertical-align: middle;
    
    width: 95%;
    background-color: #1c1e1f;
    border-radius: 15px;
    padding: 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    letter-spacing: 0%;
    word-spacing: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

body{
    font-family: 'Consolas', sans-serif;
    font-size: 20.5vw;
    background: #c5c5c5;
    letter-spacing: 0%;
    word-spacing: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}


.seconds{
    font-size: 6vw;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}
.hours{
    background: linear-gradient(#dadada, #8a8a8a);
    border-radius: 15px;
    color: #1c1e1f;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}
.minutes{
    background: linear-gradient(#dadada, #8a8a8a);
    border-radius: 15px;
    color: #1c1e1f;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}
.seconds{
    background: linear-gradient(#dadada, #8a8a8a);
    border-radius: 15px;
    color: #1c1e1f;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}
.dots{
    color: #8a8a8a;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0%;
    word-spacing: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

.dark-mode{
  background-color: #000000;
  background: #000000;
  color: #c5c5c5;
}








.dropbtn {
    background: rgba(76, 175, 80, 0.0);
    color: rgb(133, 133, 133);
    padding: 5px;
    border: none;
    cursor: pointer;
    font-size: 2.5vw;
    align-items: right;
    text-align: right;
    align-self: right;
    border-radius: 15px;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background: rgba(22, 22, 22, 0);
    font-size: 2.5vw;
    align-items: right;
    text-align: right;
    align-self: right;
    border-radius: 15px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    font-size: 2vw;
    align-items: right;
    text-align: right;
    align-self: right;
    border-radius: 15px;
  }

  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background: rgb(133, 133, 133);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 2vw;
    align-items: right;
    text-align: right;
    align-self: right;
    border-radius: 15px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 2vw;
    align-items: right;
    text-align: right;
    align-self: right;
    border-radius: 15px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background: rgb(49, 49, 49);
    color: #8a8a8a;
    font-size: 2vw;
    align-items: right;
    text-align: right;
    align-self: right;
    border-radius: 15px;
}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display:block;
    font-size: 2vw;
    align-items: right;
    text-align: right;
    align-self: right;
    border-radius: 15px;
}